.git
.venv
.runtime
.env*
config.yaml
**/node_modules
**/dist
**/dist-demo
**/test-results
**/__pycache__
**/*.secret
docs

**/*.db
**/*.db-wal
**/*.db-shm
**/*.dump
**/*.log
**/.pytest_cache
**/.ruff_cache
